In [7]:
import pandas as pd

In [8]:
S1=pd.series([11,22,33,44,55,66,77,88])

AttributeError: module 'pandas' has no attribute 'series'

In [3]:
S1=pd.Series([11,22,33,44,55,66,77,88])

In [5]:
S1

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
dtype: int64

In [6]:
#index(0-9 default index)

In [7]:
S1[7]#Acessing value

88

In [8]:
S1[1,2,3,4]

KeyError: (1, 2, 3, 4)

In [9]:
S1[[1,2,3,4]]# Access Multiple Index

1    22
2    33
3    44
4    55
dtype: int64

In [10]:
S1[1]=55

In [11]:
S1[1]

55

In [12]:
del S1[1]

In [13]:
S1[1]

KeyError: 1

In [14]:
S1

0    11
2    33
3    44
4    55
5    66
6    77
7    88
dtype: int64

In [17]:
S1[[7,2,3]]=[22,33,44]

S1

In [18]:
S1

0    11
2    33
3    44
4    55
5    66
6    77
7    22
dtype: int64

In [19]:
S1[99]=767# isert series with new index

In [20]:
S1

0      11
2      33
3      44
4      55
5      66
6      77
7      22
99    767
dtype: int64

In [21]:
S1[[22,33,1]]=[42,21,8]

ValueError: [22 33  1] not contained in the index

In [22]:
S2=pd.Series([10,12,18]), index=(["oranges", "apple", "bananas"])

SyntaxError: can't assign to function call (<ipython-input-22-5dc623372e29>, line 1)

In [23]:
S2=pd.Series([10,12,18] index=["oranges", "apple", "bananas"])

SyntaxError: invalid syntax (<ipython-input-23-c22b5cb7c86d>, line 1)

In [24]:
S2=pd.Series([10,12,18], index=["oranges", "apple", "bananas"])

In [25]:
S2

oranges    10
apple      12
bananas    18
dtype: int64

In [26]:
S2>15

oranges    False
apple      False
bananas     True
dtype: bool

In [27]:
S2[S2>14]

bananas    18
dtype: int64

In [28]:
"oranges" in S2

True

In [29]:
##creating a Series by using a Dictionay

In [33]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, " Utah": 5000}
data = pd.Series(sdata)
data

Ohio      35000
Texas     71000
Oregon    16000
 Utah      5000
dtype: int64

In [31]:
data pd.Series(sdata)
data

SyntaxError: invalid syntax (<ipython-input-31-9460911e70dd>, line 1)

In [34]:
states = ['California', 'Ohio', 'Oregon','Texas']

In [42]:
data1=pd.Series(sdata,index=states)
data1
data1.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [36]:
#NAN not a Numer

In [37]:
data1['California']=5000

In [38]:
data1

California     5000.0
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [39]:
data1.isnull()

California    False
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [40]:
data1.notnull()

California    True
Ohio          True
Oregon        True
Texas         True
dtype: bool

In [65]:
dic  = {'Ai for EO':[78,89,98,87,86],'python1':[90,66,77,88,88],'python2':[22,33,44,55,66]}
df=pd.DataFrame(dic,index=['Nasir','Asad','Ramsha','Anum','Kiran'])
df

        Ai for EO  python1  python2
Nasir          78       90       22
Asad           89       66       33
Ramsha         98       77       44
Anum           87       88       55
Kiran          86       88       66

In [90]:
df['Total']=df['Ai for EO']+df['python1']+df['python2']+df['python']+df['python3']+df['Aman']
df

        Ai for EO  python1  python2  python  python3  Aman  Total
Nasir          78       90       22       0        0    22    212
Asad           89       66       33       1        1    99    289
Ramsha         98       77       44       2        2    22    245
Anum           87       88       55       3        3    33    269
Kiran          86       88       66       4        4    88    336

In [91]:
df['Status']=df['tota']

NameError: name 'Total' is not defined

In [85]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df1 = pd.DataFrame(data)

In [77]:
df1

    state  year  pop  debt
0    Ohio  2000  1.5     0
1    Ohio  2001  1.7     1
2    Ohio  2002  3.6     2
3  Nevada  2001  2.4     3
4  Nevada  2002  2.9     4
5  Nevada  2003  3.2     5

In [50]:
df1['pop']

0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
5    3.2
Name: pop, dtype: float64

In [51]:
df1["debt"]

KeyError: 'debt'

In [53]:
df1['debt']=range(6)

In [54]:
df1

    state  year  pop  debt
0    Ohio  2000  1.5     0
1    Ohio  2001  1.7     1
2    Ohio  2002  3.6     2
3  Nevada  2001  2.4     3
4  Nevada  2002  2.9     4
5  Nevada  2003  3.2     5

In [94]:
numbers=[1,2,3,4,5,6,7,8,10,11,12,13,14,15]

In [16]:
evenArr=[]
OddArr=[]
for num in numbers:
    if num%2==0:
        evenArr.append(num)
    else:
        OddArr.append(num)
        
print(evenArr)
print(OddArr)

NameError: name 'numbers' is not defined

In [98]:
df['status']=['Pass' if Total>=220 else 'Fails' for Total in df.Total]
df

        Ai for EO  python1  python2  python  python3  Aman  Total status
Nasir          78       90       22       0        0    22    212  Fails
Asad           89       66       33       1        1    99    289   Pass
Ramsha         98       77       44       2        2    22    245   Pass
Anum           87       88       55       3        3    33    269   Pass
Kiran          86       88       66       4        4    88    336   Pass

In [10]:
df['Percentage']=[Total*100/350 for Total in df.Total]

NameError: name 'df' is not defined

In [9]:
df

NameError: name 'df' is not defined

In [5]:
df['status']=['Pass' if a>=33 and p1>=33 and p2>=33  else 'Fails' for a,p1,p2 in zip(df['Ai for EO'],df['python1'], df['python3'])]
df
#Zip unpack

NameError: name 'df' is not defined

In [4]:
df['status']=np.where(((df['Ai for EO']<50) & (df['python1']<50) & (df['python2']<50)),"Fail","Pass")

NameError: name 'np' is not defined

In [11]:
import numpy as np

In [12]:
df['status']=np.where(((df['Ai for EO']<50) & (df['python1']<50) & (df['python2']<50)),"Fail","Pass")

NameError: name 'df' is not defined

In [107]:
a=list(range(5))
b=list(range(6,11))
a
b
c = zip (a,b)
for i in c:
    print(i)

(0, 6)
(1, 7)
(2, 8)
(3, 9)
(4, 10)

In [113]:
df.head(3)

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Nasir,78,90,22,0,0,22,212,Fails,60.571429
Asad,89,66,33,1,1,99,289,Fails,82.571429
Ramsha,98,77,44,2,2,22,245,Fails,70.000000

In [114]:
df.head()

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Nasir,78,90,22,0,0,22,212,Fails,60.571429
Asad,89,66,33,1,1,99,289,Fails,82.571429
Ramsha,98,77,44,2,2,22,245,Fails,70.000000
Anum,87,88,55,3,3,33,269,Fails,76.857143
Kiran,86,88,66,4,4,88,336,Fails,96.000000

In [115]:
df.tail()

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Nasir,78,90,22,0,0,22,212,Fails,60.571429
Asad,89,66,33,1,1,99,289,Fails,82.571429
Ramsha,98,77,44,2,2,22,245,Fails,70.000000
Anum,87,88,55,3,3,33,269,Fails,76.857143
Kiran,86,88,66,4,4,88,336,Fails,96.000000

In [116]:
df.tail(2)

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Anum,87,88,55,3,3,33,269,Fails,76.857143
Kiran,86,88,66,4,4,88,336,Fails,96.000000

In [118]:
df.loc['Anum']

Ai for EO          87
python1            88
python2            55
python              3
python3             3
Aman               33
Total             269
status          Fails
Percentage    76.8571
Name: Anum, dtype: object

In [119]:
df.loc['Ramsha':'Kiran']

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Ramsha,98,77,44,2,2,22,245,Fails,70.000000
Anum,87,88,55,3,3,33,269,Fails,76.857143
Kiran,86,88,66,4,4,88,336,Fails,96.000000

In [120]:
df.iloc[0]

Ai for EO          78
python1            90
python2            22
python              0
python3             0
Aman               22
Total             212
status          Fails
Percentage    60.5714
Name: Nasir, dtype: object

In [121]:
df.iloc[0:6]

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Nasir,78,90,22,0,0,22,212,Fails,60.571429
Asad,89,66,33,1,1,99,289,Fails,82.571429
Ramsha,98,77,44,2,2,22,245,Fails,70.000000
Anum,87,88,55,3,3,33,269,Fails,76.857143
Kiran,86,88,66,4,4,88,336,Fails,96.000000

In [126]:
df.iloc[0:4]

,Ai for EO,python1,python2,python,python3,Aman,Total,status,Percentage
Nasir,78,90,22,0,0,22,212,Fails,60.571429
Asad,89,66,33,1,1,99,289,Fails,82.571429
Ramsha,98,77,44,2,2,22,245,Fails,70.000000
Anum,87,88,55,3,3,33,269,Fails,76.857143

In [129]:
df.loc[2:5]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [135]:
df.loc['abc']=[a,b,c]

ValueError: cannot set a row with mismatched columns